<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
</head>
<body>   
    <nav>
        <h1>Навигация</h1>
        <h2><a href="/">Домашняя</a></h2>
        <h2><a href="/create">Создать</a></h2>
        <h2><a href="/reading/all-notes">Все заметки</a></h2>
        <h2><a href="/selecting-notes-by-id">Заметки по ID</a></h2>
        <h2><a href="/update">Обновить</a></h2>
        <h2><a href="/delete">Удалить</a></h2>   
    </nav>
    
    <form method="GET" action="/reading/notes">
        <select size="15"  
                name="id"                        
                class="selectingId">
            <option th:each="id : ${noteFragmentById.keySet()}"                        
                    th:value="${id}" 
                    th:text="${id}"/>
        </select>
        <button type="submit">Выбрать ID</button>
    </form>
    
    <h1 th:text="${message}"/>
    
    <table border="1">
        <tr><th>Фрагмент заметки</th></tr>
        <tr th:each="entry : ${noteFragmentById.entrySet()}">
            <td>
                <a th:href="@{/reading/notes/{id}(id=${entry.getKey()})}">
                    <em><pre th:text="${entry.getValue()} + ' ...'" /></em>   
                </a>
            </td>
        </tr>
    </table>       
</body>
</html>    